<ion-view view-title="Playlists">
  <ion-content>
     <div class="bar bar-header bar-dark">
 		 <h1 class="title">Hola Mundo</h1>
	</div>

      Hola Mundo!!!
      {{numero.length}}
      <ul>
      	<li ng-repeat= "item in numero">{{item}}
      		<!--  lo anterior funciona como un for each   -->
      	</li>
      </ul>
      <div class="list">

 <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="https://cdn-images.audioaddict.com/e/8/b/6/f/5/e8b6f5258a60a9a11495ecbc1d1bc881.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

    ...

</div>

</div>
      <div class="bar bar-footer bar-balanced">
  <div class="title">xkeeperx</div>
</div>
  </ion-content>
</ion-view>
